.top-widget{
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.ffs{
    background-color: white;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
}
.following-number{
    font-size: 40px;
    color: rgb(54, 59, 59);
}